.container {
    display: flex;
    flex-direction: column;
    padding: 49px 51px ;
}

.container h1 {
    font-size: 25px;
    line-height: 0.97;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #444444;
    font-weight: bold;
    margin-left: 15px;
}

.colleges-container {
    margin-top: 68px;
    background: "red";
}