.college-card {
    min-width: 840px;
    margin: 25px 0;
    border: 1px solid grey;
    border-radius: 5px;
}
.college-card img {
    width: 840px;
}
.college-card .image-container {
    position: relative;
    width: auto;
    height: auto;
}
.college-card .image-container-child {
    content: '';
    position: absolute;
    width: 100%;
    height: 99%;
    top: 0;
    overflow: visible;
    left: 0;
    background: rgba(0,0,0,0.7);
}
.rating {
    float: right;
    padding: 10px;
    background: #f5a626;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 20px;
    border-radius: 5px;
    color: white;
}
.rating .rating-primary {
    font-size: 18px;
}
.tags {
    position: absolute;
    bottom: 20px;
    left: 5px;
}
.item {
    background: white;
    margin: 8px;
    padding: 8px;
    border-radius: 50px;
    font-size: 13px;
    color: #444444;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description-university {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-bottom: 0;
}

.heading {
    color: #444444;
    font-weight: bold;
    font-size: 18px;
}
.sub-heading {
    font-size: 13px;
}
.light-heading {
    color: #adadad;
}
.green-heading {
    color: #37b396
}
.pricing {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: flex-end;
}

.offer-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offer-bar .bar {
    background: #ccf5e7;
    margin: 10px 0;
    line-height: 35px;
    padding: 0 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.offered-price {
    color: #dd1c26;
    font-size: 28px;
    font-weight: bold;

}
.desc-line {
    line-height: 30px;
}
.vc {
    position: absolute;
    right: 0;
    top: -20;
}
.original-price {
    text-decoration: line-through;
    font-size: 11px;
}
.pointer {
    width: 200px;
    height: 40px;
    position: relative;
    background: #68a7ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
.in-colleges-rating {
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 13px;
}

.polygon {
    width: 152px;
    height: 34px;
    background: #68a7ff;
    position: relative;
    top: -17px;
    right: -1px;
}
.polygon::after {
    content: "";
    width: 25px;
    position: absolute;
    height: 17px;
    background: #68a7ff;
    transform: translateX(-100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}
.polygon::before {
    content: '';
    width: 25px;
    height: 17px;
    background: #68a7ff;
    position: absolute;
    transform: translate(-100%, 17px);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
}
.polygon-text {
    position: absolute;
    top: 10px;
    left: 30px;
    color: white;
    font-weight: 500px;
}

.tag {
    width: 29px;
    height: 20px;
    background: #dd1c26;
    position: relative;
    margin-left: 20px;
}
.tag::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #dd1c26;
    transform: translateX(-100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
}
.tag::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #dd1c26;
    transform: translate(-100%, 9px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%);
}
.tag-text {
    position: absolute;
    color: white;
    left: 2px;

}